body {
    font-family: 'Open Sans';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
}

p,
h1,
h2,
h3,
input,
img {
    padding: 0;
    margin: 0;
}

input::placeholder {
    color: #cfcfcf;
}

textarea::placeholder {
    color: #cfcfcf;
}

input,
textarea,
select {
    outline: none;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.092);
    width: 20rem;
    padding: 0.6rem;
}

.sidebar {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 15%;
    height: 100vh;
    background-color: #2A3647;
}

.topbar {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.158);
    box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.127);
}

.container_heading_task {
    display: flex;
    align-items: center;
    padding-left: 22.5rem;
    padding-top: 7.5rem;
    padding-bottom: 3rem;
}

.heading_task {
    font-size: 3.25rem;
}

main {
    display: flex;
    gap: 4rem;
}

.place_input_left_task {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 22.5rem;
}

.container_input_task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.input_task_description {
    height: 4rem;
}

.select_task_task {
    width: 21.25rem;
    font-size: 0.9rem;
}

.place_select_category {
    padding-top: 0.5rem;
}

.select_group {
    position: relative;
}

.select_group_2 {
    position: relative;
    padding-top: 1rem;
}

.select_button_task {
    display: flex;
    padding: 0.6rem;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    width: 100%;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.092);
    position: relative;
    font-size: 0.9rem;
    letter-spacing: 0.025rem;
    cursor: pointer;
    position: relative;
}

.selected_category_color {
    width: 2rem;
    height: 2rem;
}

.arrow {
    position: absolute;
    right: 0;
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    padding: 4px;
    margin-right: 0.5rem;
    transform: rotate(45deg);
}

.dropdown {
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.092);
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    overflow: hidden;
    z-index: 3;
}

.add_category {
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.092);
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    overflow: hidden;
    z-index: 3;
}

.box_categoryelement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem;
    font-size: 0.9rem;
    letter-spacing: 0.025rem;
    background-color: #FFFFFF;
    color: black;
    border: none;
    cursor: pointer;
}

.box_categoryelement:hover {
    background-color: #f2f2f2;
}

.categoryelement_color {
    width: fit-content;
}

.option {
    display: none;
}

.option2 {
    display: none;
}

.hidden {
    display: none;
}

.container_input_category {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
}

.box_input_category {
    display: flex;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 2px 0.5px rgb(0 0 0 / 9%);
    width: 20rem;
    padding: 0.6rem;
}

.place_input_category {
    flex: 1;
}

.input_category {
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    width: 100%;
}

.box_buttons_input_category {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
}

.button_input_category {
    border: none;
    background-color: white;
    cursor: pointer;
}

.img_button_input_category {
    width: 0.6rem;
    height: 0.6rem;
}

.box_buttons_color {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: 0.5rem;
}

.button_color {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.color_1 {
    background-color: blue;
}

.color_2 {
    background-color: red;
}

.color_3 {
    background-color: green;
}

.color_4 {
    background-color: orange;
}

.color_5 {
    background-color: purple;
}

.color_6 {
    background-color: yellow;
}

.seperation_buttons_input_category {
    content: "";
    display: block;
    width: 0.06rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #cfcfcf;
}

.seperation_task {
    content: "";
    display: block;
    width: 0.06rem;
    height: 25rem;
    border-radius: 2rem;
    background-color: #cfcfcf;
}

.place_input_right_task {
    width: 21.35rem;
}

.box_input_date {
    position: relative;
}

.img_date_task {
    position: absolute;
    right: 1rem;
    top: 0.45rem;
    width: 1.25rem;
}

.container_buttons_task {
    display: flex;
    gap: 0.75rem;
}

.box_button_task {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 6.575rem;
    background-color: white;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.092);
    border-radius: 0.3rem;
    padding: 0.6rem 0.5rem;
    border: none;
    cursor: pointer;
}

.box_button_task:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.292);
    transform: scale(1.075);
}

.box_button_task_u {
    background-color: #FF3D00;
    color: white;
}

.box_button_task_m {
    background-color: #FFA800;
    color: white;
}

.box_button_task_l {
    background-color: #7AE229;
    color: white;
}

.text_urgency_task {
    background: none;
    border: none;
    font-size: 0.9rem;
}

.urgency_img_task {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 0.9rem;
    height: 0.8rem;
}

.urgency_img_l_task {
    background-image: url('assets/img/low_task.png');
}

.urgency_img_l_clicked_task {
    background-image: url('assets/img/low_clicked_task.png');
}

.urgency_img_u_task {
    background-image: url('assets/img/urgent_task.png');
}

.urgency_img_m_task {
    background-image: url('assets/img/medium_task.png');
    height: 0.45rem;
}

.urgency_img_m_clicked_task {
    background-image: url('assets/img/medium_clicked_task.png');
    height: 0.45rem;
}

.urgency_img_u_clicked_task {
    background-image: url('assets/img/urgent_clicked_task.png');
}

.button_subtask_task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.092);
    width: 21.25rem;
    color: #cfcfcf;
    background-color: white;
    padding: 0.6rem;
    cursor: pointer;
}

.text_subtask_task {
    text-align: center;
    height: 100%;
}

.container_buttons_bottom_task {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-top: 8rem;
}

.clear_button_task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    border: 0.025rem solid black;
    background-color: white;
    padding: 0.6rem 1.25rem;
    cursor: pointer;
}

.clear_button_task:hover {
    border: #29ABE2 solid 0.025rem;
}

.text_clear_task {
    font-size: 0.9rem;
}

.clear_button_task:hover>.text_clear_task {
    color: #29ABE2;
}

.img_clear_task {
    background-image: url('./assets/img/cross_task.png');
    width: 0.5rem;
    height: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.clear_button_task:hover>.img_clear_task {
    background-image: url('./assets/img/cross_blue.png');
}

.create_button_task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #2A3647;
    padding: 0.675rem 0.5rem;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 0.025rem;
}

.create_button_task:hover {
    background-color: #29ABE2;
}

.create_button_task img {
    width: 0.75rem;
}