body {
    font-family: 'Open Sans';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
}

p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

.change_css_board {
    padding-left: 13rem;
}

.h2_padding {
    padding-left: 1rem;
}

.sidebar {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 15%;
    height: 100vh;
    background-color: #2A3647;
}

.container_heading_board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6rem;
    padding-top: 7.5rem;
}

.heading_board {
    font-size: 3.25rem;
}

.heading_separation_board {
    content: "";
    display: block;
    width: 0.2rem;
    height: 3.5rem;
    border-radius: 2rem;
    margin-left: 4rem;
    background-color: #29ABE2;
}

.subheading_board {
    font-size: 1.75rem;
    font-weight: 500;
    padding-left: 2rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 22.5rem;
    padding-right: 6rem;
}

.search_container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 3.125rem;
}

.header_search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15.625rem;
    border-radius: 0.3rem;
    border: 1px solid #a8a8a8;
    padding: 13px, 21px, 13px, 21px;
    gap: 0.625rem;
    outline: none;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.092);
    font-size: 1rem;
    margin-right: 1.875rem;
}

.add_button_task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #2A3647;
    padding: 0.675rem 0.5rem;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 0.025rem;
}

.add_button_task:hover {
    background-color: #29ABE2;
}

.add_button_task img {
    width: 0.75rem;
}

.board_header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    width: 15.625rem;
    font-size: 9px;
    margin-bottom: 2rem;
}

.drag_area_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    height: 70vh;
    overflow: auto;
}

.drag_area {
    min-height: 12.5rem;
    width: 13.125rem;
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: 0;
}

.drag_area_highlight {
    background-color: rgb(222, 229, 232);
}

.todo {
    background-color: white;
    border-radius: 20px;
    padding: 0.8rem;
    padding-left: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    height: 9rem;
    display: flex;
}

.todo_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.35rem;
}

.todo_icon {
    width: 1.375rem;
    height: 1.375rem;
    cursor: pointer;
}

.todo_icon:hover {
    outline: 0.1px solid #29ABE2;
    border-radius: 8px;
}

.todo_user_priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25rem;
}

.todo_contact_img {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    border: none;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.75rem;
}

.bg_title {
    font-size: 0.9rem;
}

.bg_category {
    width: fit-content;
    border: none;
    border-radius: 7.5px;
    padding: 0.15rem 1rem 0.15rem 1rem;
    text-align: center;
    background-color: #29ABE2;
    color: white;
    margin-bottom: 0.5rem;
}

.bg_description {
    font-size: 0.75rem;
    color: rgb(152, 152, 152);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.priority_icon {
    width: 1.25rem;
    padding: 10px;
}

.bg_media {
    background-color: #29ABE2;
}

.bg_design {
    background-color: #29e232;
}

.bg_marketing {
    background-color: #e229e2;
}

.bg_sales {
    background-color: #c9e229;
}

.bg_none {
    background-color: #e23b29;
}

.board_details_bg {
    background-color: rgba (0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    height: 50vh;
    width: 50vh;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 24px;
}

.d_none {
    display: none;
}

.overlay_add_task {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 90%;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
}

.place_add_task {
    width: 100%;
    height: 100%;
}

.place_add_task .container_heading_task {
    padding-left: 10rem;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.place_add_task .place_input_left_task {
    padding-left: 10rem;
}

@media (max-width: 1430px) {
    .drag_area {
        gap: 10px;
    }
}

@media (max-width: 1275px) {
    

@media (max-width: 1410px) {
    .board_header_container {
        width: 12.5rem;
    }

    .container_heading_board {
        padding-top: 6rem;
    }

    .todo {
        width: 10.5rem;
    }
}

@media (max-width: 1214px) {
    .board_header_container {
        width: 10.5rem;
    }

    .todo {
        width: 8.5rem;
        height: 7.5rem;
        margin-top: 18px;
    }
    .todo_content {
        gap: 6px !important;
    }

    .search_container {
        height: 2.5rem;
    }

    .heading_board {
        font-size: 2.5rem;
    }

    .container_heading_board {
        padding-top: 5.5rem;
    }

    main {
        padding-right: 0;
    }
}

@media (max-width: 1025px) {
    .board_header_container {
        width: 9.5rem;
    }

    .todo {
        width: 7.5rem;
        height: 6.5rem;
        margin-top: 22px;
    }

    .drag_area {
        gap: 4px !important;
    }
}

@media (max-width: 1140px) {
    .topbar {
        padding-left: 16px !important;
    }
}

@media (max-width: 1000px) {
    .topbar {
        justify-content: space-around;
    }
    .board_header_container {
        margin-top: 12px;
    }

    .todo_content {
        font-size: 14px !important;
    }

    .search_container {
        height: 2.2rem;
    }

    .heading_board {
        font-size: 2.2rem;
    }
}

@media (max-width: 940px) {
    .change_css_board {
        padding-left: 10.5rem;
    }

    .topbar_content {
        padding-left: 18rem;
    }
}

@media (max-width: 900px) {
    .main_board {
        align-items: center;
        top: 10%;
        padding: 0;
        width: 100%;
        justify-content: center;
        bottom: 15%;
        padding-left: 0 !important;
    }

    .change_css_board {
        padding-left: 0 !important;
    }

    .container_heading_board {
        gap: 24px !important;
    }
}

@media (max-width: 700px) {
    .todo_content {
        font-size: 12px !important;
    }

    .topbar_profile_mobile {
        height: 30px !important;
        width: 30px !important;
    }

    .footer_mobile {
        height: 12% !important;
    }
}

@media (max-width: 575px) {
    .board_header_container {
        width: 7.5rem;
        font-size: 8px !important;
    }

    .heading_board {
        font-size: 24px !important;
    }

    .container_heading_board {
        padding-top: 8rem !important;
        margin-bottom: 0.5rem !important;
    }

    .todo_content {
        gap: 0 !important;
    }

    .todo {
        margin-top: 12px !important;
        width: 7rem !important;
    }
}

@media (max-width: 450px) {
    .container_heading_board {
        padding-right: 0 !important;
    }

    .board_header_container {
        width: 12rem;
        font-size: 10px !important;
    }

    .drag_area_container {
        justify-content: center;
    }
    main {
        padding: 0 !important;
        padding-top: 8px !important;
    }
}

    .todo {
        width: 9rem !important;
    }
}

@media (min-height: 1000px) {
    .container_heading_board {
        padding-top: 8rem;
    }
}

