body {
    font-family: 'Open Sans';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
}

p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

.h2_padding {
    padding-left: 1rem;
}

.sidebar {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 15%;
    height: 100vh;
    background-color: #2A3647;
}

.container_heading_summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22.5rem;
    padding-right: 6rem;
    padding-top: 7.5rem;
}

.heading_summary {
    font-size: 3.25rem;
}

.heading_separation_summary {
    content: "";
    display: block;
    width: 0.2rem;
    height: 3.5rem;
    border-radius: 2rem;
    margin-left: 4rem;
    background-color: #29ABE2;
}

.subheading_summary {
    font-size: 1.75rem;
    font-weight: 500;
    padding-left: 2rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 22.5rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.search_container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 51px;
}

.header_search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 251px;
    border-radius: 0.3rem;
    border: 1px solid #a8a8a8;
    padding: 13px, 21px, 13px, 21px;
    gap: 10px;
    outline: none;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.092);
    font-size: 16px;
    margin-right: 30px;
}

.add_button_task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #2A3647;
    padding: 0.675rem 0.5rem;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 0.025rem;
}

.add_button_task:hover {
    background-color: #29ABE2;
}

.add_button_task img {
    width: 0.75rem;
}

.board_header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 250px;
    font-size: 9px;
}

.drag_area_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    height: 70vh;
    overflow: auto;
}

.drag_area {
    min-height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
}

.drag_area_highlight {
    background-color: rgb(222, 229, 232);
}

.todo {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.092);
    cursor: pointer;
    font-size: 16px;
    width: 210px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.todo_icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.todo_icon:hover {
    outline: 0.1px solid #29ABE2;
    border-radius: 8px;
}

.todo_user_priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo_contact_img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 10px;
    border: 1px solid rgb(82, 84, 82);
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_category {
    border: 1px solid rgb(82, 84, 82);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

<<<<<<< HEAD
.priority_icon {
    width: 20px;
    padding: 10px;
}
=======
>>>>>>> 2931de834dbda02d046c13e1a5a7cff7dec459d5

/* Color Codes */

.bg_media {
    background-color: #29ABE2;
}

.bg_design {
    background-color: #29e232;
}

.bg_marketing {
    background-color: #e229e2;
}

.bg_sales {
    background-color: #c9e229;
}

.bg_none {
    background-color: #e23b29;
}

.board_details_bg {
    background-color: rgba (0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    height: 50vh;
    width: 50vh;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 24px;
}

.d_none {
    display: none;
}