body {
    font-family: 'Open Sans';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
}

p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

.sidebar {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 15%;
    height: 100vh;
    background-color: #2A3647;
}

.main_container_contacts {
    display: flex;
}

.container_contacts_left {
    padding-left: 22.5rem;
    padding-right: 5.5rem;
    padding-top: 7.5rem;
    /* background-color: whitesmoke; Farbe anpassen */
    box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.127);
    width: 200px;
    height: 87vh; /* ?? */
    overflow: auto;
    display: flex;
    z-index: -2;
}

.contact_list_container {
    display: flex;
    align-items: center;
}

.contact_list {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact_list_img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 10px;
    border: 1px solid rgb(82, 84, 82);
    margin-right: 20px;
}

.contact_list_content {
    padding-bottom: 5px;
}

.container_contacts_right {
}

.container_contacts_card {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container_buttons_bottom_task {
    display: flex;
    justify-content: flex-end;
    margin-top: 50vh;
}

.add_button_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #2A3647;
    padding: 0.675rem 0.5rem;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 0.025rem;
}

.add_button_contacts:hover {
    background-color: #29ABE2;
}

.add_button_contacts img {
    width: 0.75rem;
}

.container_heading_summary {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-top: 7.5rem;
}

.heading_summary {
    font-size: 3.25rem;
}

.heading_separation_summary {
    content: "";
    display: block;
    width: 0.2rem;
    height: 3.5rem;
    border-radius: 2rem;
    margin-left: 4rem;
    background-color: #29ABE2;
}

.subheading_summary {
    font-size: 1.75rem;
    font-weight: 500;
    padding-left: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 3rem;
}