html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: 'Open-Sans';
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.topbar {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.127);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar_content {
    padding-left: 22.5rem;
}

.topbar_content_right {
    display: flex;
    align-items: center;
    padding-right: 6rem;
    gap: 15px;
}

.topbar_profile {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 3px;
    background-color: white;
    border: solid #2A3647;
}

aside {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 83px;
    width: 232px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    color: #CDCDCD;
}

.aside_logo_container {
    height: 126px;
}

.aside_logo {
    height: 100%;
}

.place_nav {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_links_aside {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.box_links_aside:hover {
    background: #091931;
}

.aside_nav_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6px;
    padding-bottom: 6px;
    gap: 32px;
    width: 150px;
    height: 46px;
    color: white;
    text-decoration: none;
}

.aside_icons {
    width: 22px;
    height: 22px;
}

@media (max-width: 900px) {
    .topbar {
        display: none;
    }
    .left_main_container {
        display: none;
    }
}

.d-none {
    display: none;
}